.dropdown button{
    background-color:gray;
    border:none;
    padding:10px 25px;
    cursor:pointer;
    color:white;
}
.dropdown a{
    color:black;
    text-decoration:none;
    display:block;
    background-color:hsl(0, 0%, 81%);
    padding:10px 20px;
}
.dropdown .content{
    display:none;
    position:absolute;
    min-width:150px;
    box-shadow:10px 10px 30px black;
}
.dropdown:hover .content{
    display:block;
}
.dropdown:hover button{
    background-color:hsl(0, 4%, 72%);
}
.dropdown{
    display:inline-block;
}
.dropdown .content a:hover{
    background-color:hsl(0, 1%, 53%);
}