.pagination{
    text-align:center;
}
.pagination a{
    text-decoration:none;
    padding:8px 15px;
    color:black;
    display:inline-block;
}
.pagination a.active{
    background-color:yellowgreen;
    border-radius:5px;
    font-weight:bold;
}
.pagination a:hover:not(.active){
    background-color:hsl(0, 3%, 76%);
    border-radius:5px;
}