*{
    margin:0px;
    padding:0px;
}
div{
    height:150px;
    width:80%;
    text-align:center;
    font-size:40px;

}
body{
    height:5000px;
}
.a{
    background-color:yellow;
}
.b{
    background-color:pink;
}
.c{
    background-color:green;
    position:sticky;
    top:0px;
}
.d{
    background-color:skyblue;
    position:fixed;
}