h1::first-letter{
    font-size:2em;
    color:blue;
}
p::first-line{
    background-color:yellow;
}
p::selection{
    color:white;
    background-color:black;
}
#fruits li::before{
    content:"🗿";
}
#apple::after{
    content:"🍎";
}
#banana::after{
    content:"🍌";
}
#orange::after{
    content:"🍊";
}
 #fruits li::marker{
    content:"💡";
}