*{
    margin:0px;
}
#box1{
    background-color:lightgreen;
    height:150px;
    width:150px;
    font-size:8em;
    text-align:center;
    border:5px solid black;
    transform:translate(100%,50%) rotatez(90deg) scale(0.5);
}