*{
    margin:0px;
    box-sizing:border-box;
}
header{
    text-align:center;
    background-color:lightblue;
    padding:25px;
}
nav{
    background-color:brown;
    height:40px;
}
aside{
    width:20%;
    float:left;
    padding:20px;
}
section{
    width:40%;
    float:left;
    padding:20px;
}
article{
    width:40%;
    float:left;
    padding:20px;
}
footer{
    clear:both;
    text-align:center;
    background-color:lightblue;
    padding:25px;
}